doctype html
html(lang='fr')
 head
   title= title
   script(type="text/javascript" src='/javascripts/ioFunctions.js')
 body
  form.form-horizontal(action="translate" method="POST" style="width: 600px")
    fieldset
      // Form Name
      legend Cypher translation
      // Button
      .form-group
        .col-md-4
          button#randomCypher.btn(type="button" name='randomCypher' onclick ="requireNewRandom()") Random cypher
      //Cypher UID
      input#cypherUId(type="text", name="cypherUId", value=cypherUid, hidden)
      //Cypher card
      h4(style="margin-bottom: 0;")
        | Cyper name
      h4
      p(style=" border: 2px solid rebeccapurple; display:inline-block; margin-top: 0;")#cypherTitle= cypherName
      h4(style="margin-top: 0; margin-bottom: 0;")
        | Cyper description
      h4
      p(style=" border: 2px solid rebeccapurple; display:inline-block; margin-top: 0;")#cypherDescription= cypherText
      // Textarea
      .form-group
        label.col-md-4.control-label(for='CypherNameTranslation') Nom du cypher
        .col-md-4
          textarea#CypherNameTranslation.form-control(style="width: 400px;" name='title' placeholder="Nom cypher traduit")
      // Textarea
      .form-group
        label.col-md-4.control-label(for='CypherDescriptionTranslation') Description du cypher
        .col-md-4
          textarea#CypherDescriptionTranslation.form-control(style="width: 600px; height: 100px;" name='text' placeholder="Description cypher traduit")
      // Button
      .form-group
        label.col-md-4.control-label(for='valider') valider
        .col-md-4
          button#valider.btn(name='valider') valider

